<div class="search">
  <%= form_tag(food_search_path, method: :get) do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
  <% end %>
</div>

<% if @results.present? %>

<div class="search">
  <h1>Food Found</h1>
</div>
  <ul>
    <div class="results">
      <% @results.each do |food| %>
        <div class="title">
          <li class="foodTitle"><%= food["title"] + " - " %></li>
          <a href="<%= food["href"]%>">click here to see directions</a>
        </div>
        <div class="directions">
          <%= image_tag food["thumbnail"] %>
          <p><span class="ingredients">Ingredients:</span> <%= food["ingredients"] %></p>
        </div>
        <div class="puppy">
          <%= image_tag("puppy.png", :alt => "-------------------------") %>
        </div>
        <br><br>
      <% end %>
    </div>
  </ul>
<% end %>